html {
    font-family: "Charm", cursive;

    --bg-color: #442222;
    --fg-color: #FFEEDD;
    --ac-color: #EEBB66;
    --hy-color: #BBEE66;

    font-size: 18pt;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--fg-color);
    word-wrap: normal;
    word-break: normal;
    hyphens: auto;
}

#content{
    margin: 0;
    padding: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

blockquote{
    font-family: "Jim Nightshade", "Great Vibes", "Charm", cursive;
    font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Great Vibes", "Jim Nightshade", cursive;
    font-weight: normal;
    color: var(--ac-color);
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.4rem;
}

h5{
    font-size: 1.2rem;
}

h6{
    font-size: 1rem;
}

.subtitle{
    font-size: 1.2rem;
    font-family: "Jim Nightshade";
}

li::marker {
    color: var(--ac-color);
}

a{
    text-decoration: none;
    color: var(--hy-color);
}

a:hover{
    text-decoration: underline;
    color: var(--ac-color);
}

thead{
    color: var(--ac-color);
}

::-webkit-scrollbar{
    width: 0.5em;
}

::-webkit-scrollbar-track{
    padding: 0.1em;
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb{
    background: var(--hy-color);
    border-radius: 0.25em;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--ac-color);
}

@media(prefers-color-scheme: light){
    html{
        --bg-color: #FFEEDD;
        --fg-color: #442222;
        --ac-color: #884422;
        --hy-color: #448822;
    }
}

@media only screen and (max-width: 600px){
    html{
        font-size: 12pt;
    }
    #content{
        padding:1em;
    }
}
